/* ROFI: base configuration */

configuration {
    /* ── Top-right corner ── */
    location: 3;
    x-offset: 5px;
    y-offset: 44px;
    
    scroll-method: 0;
    cycle: false;
    click-to-exit: true;

    sidebar-mode: true;

    show-icons: true;
    icon-theme: "WhiteSur-dark";
}

@theme "~/.config/rofi/rofi-finder.rasi"
