/*
 * Do not delete the comments below
 */
 
/* preview-panel-settings
width: 300px;
height: 550px;
companion_width: 400px;
side: left;
gap: 5px;
x: 770px;
y: -220px;
*/

window.preview-panel {
    background: rgba(24, 10, 16, 0.95);
    border: 1px solid rgba(214, 86, 199, 0.55);
    border-radius: 15px;
    padding: 10px;
}

textview.preview-text,
textview.preview-text text,
textview.network-details,
textview.network-details text {
    background: transparent;
    color: #5DF4FE;
    caret-color: #D656C7;
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 12pt;
}

picture.preview-image {
    background: transparent;
}

image.network-qr {
    min-width: 50px;
    min-height: 50px;
    background: #0E0616;
}

scrollbar slider {
    min-width: 4px;
    background: #D52C35;
    border-radius: 4px;
}
